<!DOCTYPE html>
<html>
  <head>
    {% include analytics_head.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  </head>  
  <body>
    <div class="wrapper-container">
      <header class="site-header flex justify-between">
        <div class="header-left ml-5">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <!-- <p class="site-description">{{ site.description }}</p>  -->
          </div>
        </div>

        <div class="header-right mr-5">
          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/workshops">Workshop</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </div>
      </header>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
            <div class="footer-address">353 King St, 722 San Francisco CA 94158</div>
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
